<div class='container'>
  <div class='row'>
    <div class='col-md-10 col-lg-8 offset-md-1 offset-lg-2'>
      <div class='card mt-5'>
        <h2 class="card-title text-center text-info"> MY PROFILE </h2>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">EDIT MY PROFILE</h5>
                  <p class="card-text text-muted">Change your password.</p>
                <%= link_to 'EDIT', admin_backoffice_posts_path, class:'btn btn-outline-info' %>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">MY COMMENTS</h5>
                <p class="card-text text-muted"> Edit or delete your comments</p>
                  <%= link_to 'COMMENTS', admin_backoffice_users_path, class:'btn btn-outline-info btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>