<br>
<div class='container'>
  <div class='card mt-5 border border-white shadow-sm p-3 mb-5 bg-white rounded' >
    <h2 class="text-info text-uppercase text-center text-info"> Edit <%= @user.email %> </h2>
    <small class="text-muted text-center"> Remember that administrators will have superpowers like you and more permissions that a regular user! </small>
    <br>
    <div class='form-group text-center'>
      <%= form_for([:admin_backoffice, @user]) do |f| %>
      <label class="h5  text-center text-info text-uppercase">This user is...</label>
      <%= f.select :is_admin, [["User Administrator", "true"], ["Regular User", "false"]]%>
      <br>
      <br>
      <%=f.submit class: "btn btn-info btn-block text-uppercase"%>
      <% end %>
    </div>
  </div>
</div>
