<div class='container'>
  <div class='row'>
    <div class='col-md-10 col-lg-8 offset-md-1 offset-lg-2'>
      <div class='card mt-5'>
        <div class="card">
          <div class="card-header">
            <h3 class="text-info text-center"><%= @user.email%>
            <% if @user.is_admin? %>
              <span class="badge badge-primary badge-pill ">Administrador
              </span>
            <% else %>
              <span class=" badge badge-secondary badge badge-pill">Regular User
              </span>
            <% end %>
            </h3>
          </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <br>
            <% if @user != current_user %>
              <%= link_to 'EDIT USER', edit_admin_backoffice_user_path(@user), class:"btn btn-block btn-outline-success" %>
              <%= link_to 'DELETE USER', admin_backoffice_user_path(@user), method: :delete, class:"btn btn-block btn-outline-danger" %>
            <% else %>
              <h6 class="text-muted text-center">
                Sorry, you can't edit your own profile in adm area.
              </h6>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <%= link_to 'Back', admin_backoffice_users_path, class:"btn btn-sm btn-outline-secondary" %>
    </div>
  </div>
</div>
