<div class="card-header bg-white">
<h1>EDIT</h1>
</div>

<%= render 'form' %>

<div class="card-header bg-white">
  <div class="row">
    <div class="col-2">
    <%=link_to admin_backoffice_index_path, class:"btn btn-secondary" do %>
      <small> BACK </small>
     <% end %>
    </div> 
  </div>
</div>

