<br>
<div class='container'>

  <h1 class="text-info text-center">EDIT MY POST</h1>
  <div class='card mt-5 border border-white align-items-center'>
    <img src="https://www.flaticon.com/svg/static/icons/svg/763/763713.svg" alt="Cat thinking" width="150" height="150">
    <br>
  </div>

  <%= render 'form' %>
  <div class='container'>
    <%=link_to "BACK", admin_backoffice_index_path, class:"btn btn-outline-secondary btn-sm"%>
  </div>
</div>
