 <br>
 <div class='container'>

   <h1 class="text-info text-center">EDIT</h1>

   <%= render 'form' %>
   <div class='container'>
     <%=link_to "BACK", admin_backoffice_index_path, class:"btn btn-outline-secondary btn-sm"%>
   </div>
 </div>