<br>
<section class="jumbotron text-center bg-light">
  <div class="container">
    <img src="https://www.flaticon.com/svg/static/icons/svg/763/763723.svg" alt="Cat news" width="300" height="300">
    <h1 class="jumbotron-heading text-info">KITTY PORTAL</h1>
    <h1 class="lead text-secondary">“Time spent with cats is never wasted.”</h1>
    <h5 class="lead font-italic text-secondary">
      – Sigmund Freud
    </h5>
  </div>
</section>
<div class='container'>
  <%= render "posts/posts" %>
  <%= paginate @posts %>
</div>
